body {
    font-family: 'Rubik', sans-serif;
    color: #EEEEEE;
    background: linear-gradient(#353535, #202124, #000000);
}

.Texto-Centralizado {
    text-align: center;
    color: #FFFFFF;
}

h1 {
    font-size: 2.5em;
    padding: 1em 0;
    font-weight: bold;
}

main {
    height: 30em;
}

.intro {
    display: inline-block;
    padding: 0 4em;
    width: 40%;

}

.cuerpo {
    display: inline-block;
}

.explicacion {
    display: inline-block;
    width: 40%;
    position: relative;
    bottom: 38.8em;
    text-align: justify;
    padding: 0 2em;
}

.lista-head {
    padding: 1em 0;
}

.lista {
    padding-bottom: 1em;
}

.dato {
    padding-top: 2em;
}

img {
    width: 5%;
    padding-right: 0.5em;
}

.caja1 {
    padding: 2em 0;
}

#elTexto {
    display: inline-block;
    background: #EEEEEE;
    border: 0.15em solid #9f9c9c;
    border-radius: 1em;
}

.action1 {
    display: block;
    margin: 2em 0 8em 0;
    padding: 0.5em 4.2em;
    border: 0.15em solid #9f9c9c;
    border-radius: 0.5em;
    background: #FFFFFF;
    transition: 400ms background;
}

.action1:hover {
    border-color: #2fa2ea;
    background: #87cefa;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.caja2 {
    position: relative;
    left: 18em;
    bottom: 27.4em;
}

#Resultado {
    display: inline;
    background: #EEEEEE;
    border: 0.15em solid #9f9c9c;
    border-radius: 1em;
}

.action2 {
    display: block;
    margin: 2em 0 8em 0;
    padding: 0.5em 3.5em;
    border: 0.15em solid #9f9c9c;
    border-radius: 0.5em;
    background: #FFFFFF;
    transition: 400ms background;
}

.action2:hover {
    border-color: #2fa2ea;
    background: #87cefa;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.copiar {
    position: relative;
    bottom: 33.5em;

}

.copiar input {
    padding: 0.5em 3.1em;
    border: 0.15em solid #9f9c9c;
    border-radius: 0.5em;
    transition: 400ms background;
}

.copiar input:hover {
    border-color: #2fa2ea;
    background: #87cefa;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.inferior {
    padding: 24em 0 0 0;

}

.inferior h3 {
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.lista-links {
    display: inline-block;
    padding-right: 3em;
}

.redes {
    display: inline-block;
    padding-bottom: 2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    left: 41em;
}

.redes:before {
    content: "\00B7 \0020 ";
}

.redes:hover {
    color: #FFFFFF;
}